* {
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;

}

body{
  max-height: 100vh;
  background: linear-gradient(#f64c72,rgba(0,0,0,0.9)),url(todo.jpg);
  background-position: center;
  background-size: cover;
}

.App{
  background-color: #242582;
  min-height: 400px;
  width: 500px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px ;
}